@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
/*navbar navbar-expand-sm navbar-dark*/
.navbar.navbar-expand-sm .navbar-dark .navbar-brand {
    display: block;

    text-align:center;
    float: none;
    vertical-align: top;
}

.navbar.navbar-expand-sm .navbar-dark .navbar-header{
    float: none;
}

.title-bar{
    background: #0a0000;
    font-weight: bold;
    /*align: center;*/
}
body {
    font-family: 'Open Sans', sans-serif;
    /*background-image: url(olympic-stadium-aerial-hd-football-wallpaper.jpg);*/
    background-image: url(../wallpaper1.jpg);
    background-size: cover;
}

.title-text {
    font-family: 'Open Sans';
    font-size: 25px;
    color: white;
    position: center;
}

.my-main-container {
    margin: 3px;
    max-width: 99.7%;
}

.my-first-row, .my-second-row {
    height: 455px;
}

.my-par-col, .my-pie-col, .my-bubble-col, .my-scatter-col, .my-stackedbar-col, .my-stackedbar2-col {
    background: #0a0000;
    border: 3px solid transparent;
    background-clip:padding-box;
    color: azure;
    padding: 8px;
    opacity: 0.85;
}
/*-----------------Parallel Coordinates-------------------*/

.parcoords {
    display: block;
}

.parcoords svg,
.parcoords canvas {
    font: 10px sans-serif;
    position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
    pointer-events: none;
}

.axis .title {
    font-family: "Open Sans";
    font-size: Small;
    transform: translate(0px,-10px);
    fill: #f1f1f1;
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.axis .tick text {
    font-family: 'Open Sans';
    fill: #f1f1f1;
    pointer-events: none;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
    fill: none;
    stroke: #dcd9d9;
    stroke-width: 2px;
}

.axis:hover .title {
    font-family: 'Open Sans';
    /*font-weight: bold;*/
}

.axis:hover .tick text {
    font-family: 'Open Sans';
    opacity: 1;
}

.axis.active .title {
    font-family: 'Open Sans';
    /*font-weight: bold;*/
}

.axis.active .tick text {
    font-family: 'Open Sans';
    opacity: 1;
    font-weight: bold;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: 1px;
}

/*-----------------Parallel Coordinates-------------------*/

/*-------------------Scatter Plot---------------------------*/

.selected {
    opacity: 1 !important;
    /*stroke: #ffffff;*/
    /*stroke-width: 1px;*/
}

.not-selected {
    opacity: 0.3 !important;
}

/*-------------------Scatter Plot---------------------------*/

/*--------------------Bubble Plot---------------------------*/
.bubble-text {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: large;
    opacity: 1;
    text-shadow: 1px 1px #000000;
}

.bubble2 {
    opacity: 0.9;
}
/*--------------------Bubble Plot---------------------------*/
/*--------------------StackedBar Plot-----------------------*/
.legend-text {
    font-family: "Open Sans";
    font-size: Small;
    /*transform: translate(0px,-10px);*/
    fill: #f1f1f1;
}
/*--------------------StackedBar Plot-----------------------*/
/*--------------------Pie Plot------------------------------*/
.pie-legend {
    font-family: 'Open Sans', sans-serif;
    font-size: Small;
}
/*--------------------Pie Plot------------------------------*/